<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :npm,"NPM" %>
    <%= f.number_field :npm %>
  </div>

  <div class="field">
    <%= f.label :name,"Nama" %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :gender_id,"Gender" %>
    <%= f.collection_select(:gender_id,Gender.all,:id,:name,{:prompt => 'Pilih gender'}, :class=>"form-control")%>
  </div>
  <div class="field">
    <%= f.label :placebirth,"Tempat Lahir" %>
    <%= f.text_field :placebirth %>
  </div>

  <div class="field">
    <%= f.label :datebirth,"Tanggal Lahir" %>
    <%= f.date_select :datebirth %>
  </div>

  <div class="field">
    <%= f.label :program, "Prodi" %>
    <%= f.collection_select(:program_id,Program.all,:id,:program_name,{:prompt => 'Pilih Fakultas'}, :class => "form-control") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
