<p id="notice"><%= notice %></p>

<p>
  <strong>Npm:</strong>
  <%= @student.npm %>
</p>

<p>
  <strong>Nama:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender.name.upcase %>
</p>

<p>
  <strong>Tempat Lahir:</strong>
  <%= @student.placebirth %>
</p>

<p>
  <strong>Tanggal lahir:</strong>
  <%= @student.datebirth %>
</p>

<<<<<<< HEAD
<p>
<<<<<<< HEAD
	<strong>Bunch:</strong>
	<%= @bunch.name %>
=======
  <strong>Angkatan:</strong>
  <%= @student.try(:bunch).try(:name) %>
>>>>>>> 602a656b38a2303bf472fdfb76c9806ce6d2077e
</p>
=======
>>>>>>> cf241a5201359fdfe8c1f5033de2cc3081a24052

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
