<h1>Laporan Angkatan</h1>

<table>
	<thead>
		<tr>
			<th>No</th>
			<th>Angkatan</th>
			<th>Jumlah Mahasiswa</th>
		</tr>
	</thead>

	<tbody>
		<% @bunch.each_with_index do |angkatan, index|%>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= angkatan.name.upcase %></td>
				<td><%= angkatan.students.count %> Mahasiswa</td>
			</tr>
		<% end %>
			<tr>
				<td colspan="2">Total</td>
				<td>
					<%= @students_count %> Mahasiswa
				</td>
			</tr>
	</tbody>
</table>
<br />
<%= link_to 'Back', root_path %>