<h1><%= @faculty.faculty_name %><hr /></h1>
<h2>Prodi</h2>
<ul>
	<% @programs.each_with_index  do |prodi, index| %>
	<li><%= prodi.program_name %> = <%= prodi.students.count %> Mahasiswa</li>
	<% end %>
</ul>

<h2>Jenis Kelamin</h2>
<ul>
	<% @genders.each_with_index  do |jk, index| %>
	<li><%= jk.name%> = <%= @faculty.students.where(:gender_id => jk.id).count %> Mahasiswa</li>
	<% end %>
</ul>  
 


<h2>Angkatan</h2>
<ul>
	<% @bunches.each_with_index  do |angkatan, index| %>
	<li><%= angkatan.name%> = <%= @faculty.students.where(:bunch_id => angkatan.id).count%> Mahasiswa </li>
	<% end %>
</ul> 