<h1>Laporan Gender</h1>
<table>
	<thead>
		<tr>
			<th>No.</th>
			<th>Gender</th>
			<th>Jumlah Mahasiswa</th>
		</tr>
	</thead>
	<tbody>
		<% @gender.each_with_index { |gender, index| %>
			<tr>
				<td> <%= index + 1%> </td>
				<td> <%= gender.name.upcase %> </td>
				<td> <%= gender.students.count %> Mahasiswa </td>
			</tr>
		<% } %>
			<tr>
				<td colspan="2">Total</td>
				<td>
					<%= Student.count %>
				</td>
			</tr>
	</tbody>
</table>
<br />
<%= link_to 'Back', root_path %>