<h1>Menu</h1>
<ul>
  <li>
    <%= link_to "Mahasiswa (#{Student.count})", students_path %>
  </li>
  <li>
    <%= link_to "Gender (#{Gender.count})", genders_path %>
  </li>
   <li>
    <%= link_to "Program (#{Program.count})", programs_path %>
  </li>
   <li>
    <%= link_to "Faculty (#{Faculty.count})", faculties_path %>
  </li>
  <li><%= link_to "Bunch (#{Bunch.count})", bunches_path %> </li>
</ul>

<h2>Report</h2>
<ul>
  <li><%= link_to "Gender", laporan_gender_path %></li>
  <li><%= link_to "Program Studi", laporan_prodi_path %></li>
  <li> <%= link_to "Angkatan", laporan_angkatan_path %> </li>
  <li> <%= link_to "Fakultas", laporan_fakultas_path %> </li>
  <li><%= link_to "Mahasiswa", laporan_mahasiswa_path %></li>
</ul>