<h1>Menu</h1>
<ul>
  <li>
    <%= link_to "Mahasiswa (#{Student.count})", students_path %>
  </li>
  <li>
    <%= link_to "Gender (#{Gender.count})", genders_path %>
  </li>
   <li>
    <%= link_to "Program (#{Program.count})", programs_path %>
  </li>
   <li>
    <%= link_to "Faculty (#{Faculty.count})", faculties_path %>
  </li>
  <li><%= link_to "Bunch", bunches_path %> </li>
</ul>